.containerHome{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.statesInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
    margin-bottom: 3rem;
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(8, 65, 65);
    border-radius: 5px;
    padding: 0 1rem;
}
