.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0, auto;
    align-items: center;
    padding-bottom: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    border: none;

    border-radius: 0.5rem;
    padding: 3rem;
    box-shadow: 0 1px 2px 2px rgb(200, 199, 199);
    background-color: white;
}

.labelsForm{
   border: none;
   margin: 0 4rem;
   padding-top: 1rem;
}

.inputsForm{
    border: 1px solid black;
    border-radius: 4px;
}

.backHome {
    margin-top: 1rem;
}

.addButton{
    background-color: rgb(92, 135, 222);
    border: none;
    margin-top: 1rem;
}